.introOriginal {

  > div {
    color: var(--text-color-50);
  }

  &.hasAttachment {

    > div {
      margin-bottom: 0;

      pre {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

.introNew {

  div[class*="codeBlockContainer"] {
    // Override hard-coded inline style
    background-color: var(--lime-20);
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    div[class*="codeBlockContent"] {

      > pre {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: transparent;
      }
    }
  }
}

.decoratorAttachment {
  position: relative;
}

.decorator {
  --size: 20px;
  position: absolute;
  left: var(--ifm-pre-padding);
  top: calc(var(--size) / -2);
  width: var(--size);
  z-index: 1;

  path {
    fill: var(--lime);
  }
}

.tierWrap {
  display: flex;
  gap: .5rem;
}
